 <!-- Makale üzerine tıklanıldığında makaleye ait bilgilerin görüntülendiği ayrıntı sayfası -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makale Detayları</title>
</head>
<body>
    <h1>Makale Detayları</h1>
    <p><strong>İsim:</strong> {{ makale.name }}</p>
    <p><strong>Özet:</strong> {{ makale.abstract }}</p>
    <p><strong>Anahtar Kelimeler:</strong> {{ makale.keywords }}</p>
</body>
</html>
